/**
 * フォントコンポーネント
 */

@use '../foundation' as *;

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans JP'),
				url('./fonts/NotoSansJP-Regular.woff2') format('woff2');
	font-display: swap;
}
