/**
 * リセットCSS
 * ブラウザのデフォルトスタイルをリセット
 */

@use '../global' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	font-family: $font-family-base;
	color: $color-text;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	font-family: inherit;
}

input,
textarea,
select {
	font-family: inherit;
	outline: none;
}

