/**
 * バッジコンポーネント
 * タグやラベル表示用
 */

@use '../foundation' as *;

.c-badge {
	display: inline-block;
	padding: $spacing-1 $spacing-3;
	background-color: $color-bg-lighter;
	color: $color-text;
	font-size: $font-size-sm;
	border-radius: $border-radius-full;
	@include transition();

	&:hover {
		background-color: $color-primary;
		color: $color-white;
	}
}

.c-badge--small {
	padding: $spacing-1 $spacing-2;
	font-size: $font-size-xs;
	border-radius: $border-radius-md;
}

