/**
 * バッジコンポーネント
 * タグやラベル表示用
 */

@use '../foundation' as *;

.c-badge {
	display: inline-block;
	padding: $spacing-2 $spacing-3;
	background-color: $color-bg-lighter;
	color: $color-text;
	font-size: $font-size-sm;
	border-radius: $border-radius-full;
	line-height: 1.25;
	@include transition();

	&:is(button):hover {
		background-color: $color-primary;
		color: $color-white;
	}

	// popover トリガーとして機能する場合
	&[popovertarget] {
		cursor: pointer;
	}


	&--small {
		padding: $spacing-1 $spacing-2;
		font-size: $font-size-xs;
		//border-radius: $border-radius-md;
	}

}

