/**
 * ボタンコンポーネント
 * 再利用可能なボタンUI
 */

@use '../foundation' as *;

.c-button {
	display: inline-flex;
	align-items: center;
	padding: $spacing-3 $spacing-8;
	border: 3px solid $color-primary;
	border-radius: $border-radius-lg;
	font-weight: $font-weight-semibold;
	@include transition();
		border: 3px solid $color-primary;

	&--primary {
		background-color: $color-primary;
		color: $color-white;

		&:hover {
			background-color: $color-text;
			border-color: $color-text;
		}
	}

	&--outline {
		//border: 3px solid $color-primary;
		color: $color-primary;

		&:hover {
			background-color: $color-primary;
			color: $color-white;
		}
	}
}

