/**
 * popover
 * 主にツールチップ用
 */

@use '../foundation' as *;

[popover] {
	border: none;
	background: transparent;
	overflow-y: hidden;
}

*::backdrop {
	//background-color: rgba(0, 0, 0, 0.3);
}

.popover {
	inset: unset;
	background: $color-primary;
	border: none;
	color: $color-white;
	position-area: top span-right;
	margin: 0.5em 0;
	border-radius: $border-radius-md;
	padding: 0.8em;
}