@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select, button {
    @apply outline-none focus:outline-none;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
}
