/**
 * グリッドレイアウト
 * レスポンシブグリッドシステム
 */

@use '../foundation' as *;

.l-grid {
	display: grid;
	gap: $spacing-8;

	&--cols-1 {
		grid-template-columns: 1fr;
	}

	&--cols-2 {
		@include mq(md) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&--cols-3 {
		grid-template-columns: 1fr;

		@include mq(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mq(lg) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

