		<footer class="p-portfolio__footer">
			<div class="l-container u-text-center">
				<p class="p-portfolio__footer-text">&copy; TKHSYKK. All rights reserved.</p>
			</div>
		</footer>
	</div>

	<script src="./js/main.js" type="module" async></script>
</body>

</html>

