		<header id="hero" class="p-portfolio__hero" data-scroll-trigger>
			<div class="l-container l-container--narrow u-text-center">
				<h2 class="p-portfolio__hero-title" data-text-scramble data-text="About devfolio">
					About devfolio
				</h2>
				<p class="p-portfolio__hero-description">
					2025年3月くらいから初めてChatGPTを使い始めた。使う前は「AIに訊く前に自分でググればいいじゃん」と思っていたが、とんでもなかった。これからのWEBエンジニアの仕事とAIは切り離せないと確信した。<br>
					だからAIでサイトを作ってみた。
				</p>
				<dl class="p-portfolio__hero-concepts">
					<div class="p-portfolio__hero-concept">
						<dt class="p-portfolio__hero-concept-title">動機</dt>
						<dd class="p-portfolio__hero-concept-description">
							さて転職活動をするかという時にポートフォリオがないな、となった。お客さんのサイトのソースコードを公開するわけにはいかないし、かと言って制作物です、と出力・公開されたものだけを見せるのも芸がないし、何よりどんなことが出来る人間なのかを伝えるのには不足だと思った。<br>
							じゃあAI（LLM）に人間が伴走する形でポートフォリオサイトをプロジェクトとして作ってみようか。ということで作った。
						</dd>
					</div>
					<div class="p-portfolio__hero-concept">
						<dt class="p-portfolio__hero-concept-title">開発フロー</dt>
						<dd class="p-portfolio__hero-concept-description">
							詳細は「<span class="u-font-en"><a href="#flow">How I Built "devfolio"</a></span>」をご覧いただくとして、単にポートフォリオサイトのHTMLを書かせるだけでは面白みに欠けるため、「プロンプトをひたすら投げる以外はできるだけ人間が手を動かさない」という大まかな方針を掲げた。<br>
							デザイン生成からプロトタイプ・指示書作成、逆コンパイルを用いた静的実装、ビルドやデプロイの技術選定や実装までをLLMに任せることでLLMとの会話力も鍛えつつ、これからのLLM中心の開発フローを試すプロジェクトとして進めた。
						</dd>
					</div>
				</dl>
			</div>
		</header>

